<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd ">

	<!-- 配置Dao -->
	<bean name="customerDao" class="com.anywell.dao.impl.CustomerDaoImpl"></bean>
	<bean name="linkManDao" class="com.anywell.services.impl.LinkManDaoImpl"></bean>
	<bean name="userDao" class="com.anywell.dao.impl.UserDaoImpl"></bean>
	<!-- 配置Service -->
	<bean name="customerService" class="com.anywell.services.impl.CustomerServiceImpl">
		<property name="customerDao" ref="customerDao"></property>
	</bean>
	<bean name="linkManService" class="com.anywell.services.impl.LinkManServletImpl">
		<property name="cd" ref="customerDao"></property>
		<property name="lmd" ref="linkManDao"></property>
	</bean>
	<bean name="userService" class="com.anywell.services.impl.UserServiceImpl">
		<property name="ud" ref="userDao"></property>
	</bean>

</beans>